<?xml version="1.0" encoding="utf-8"?>
<Image Key="031fba51-8b66-4d18-b92b-e1eb41f2c7b9" Alias="Pednor5 2019 002 Orig" Level="3">
  <Info>
    <Parent Key="5117fc62-2b64-4f54-bf79-e8f9d5434fcb">Banners</Parent>
    <Path>/Home/Banners/Pednor52019002Orig</Path>
    <NodeName Default="Pednor5 2019 002 Orig" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>98753</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/e5iiebwg/pednor5-2019-002_orig.jpg"
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>533</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>800</Value>
    </umbracoWidth>
  </Properties>
</Image>