<?xml version="1.0" encoding="utf-8"?>
<Image Key="0b465023-35cc-4a2c-9cd9-017b812d1598" Alias="20190720Ydllagacton 2 Orig" Level="4">
  <Info>
    <Parent Key="26d369da-a574-4eb6-afc4-676e387c1629">20</Parent>
    <Path>/Articles/July//Ydllagacton2Orig</Path>
    <NodeName Default="20190720Ydllagacton 2 Orig" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>43379</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/cwdmcb0z/20190720ydllagacton-2_orig.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>328</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>480</Value>
    </umbracoWidth>
  </Properties>
</Image>