<?xml version="1.0" encoding="utf-8"?>
<Image Key="0d04aed2-5729-42e6-8d78-426ab4553eb9" Alias="Gil Lec Logo" Level="3">
  <Info>
    <Parent Key="9f26b16b-93c7-4d4b-8798-08e9334d3bc1">Herberts Hole</Parent>
    <Path>/Races/HerbertsHole/GilLecLogo</Path>
    <NodeName Default="Gil Lec Logo" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>4164</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/rggfyz21/gil-lec-logo.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>80</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>177</Value>
    </umbracoWidth>
  </Properties>
</Image>