<?xml version="1.0" encoding="utf-8"?>
<Image Key="0f783106-4588-4330-b799-0818b637bac2" Alias="40626517 677018732677899 6064643605805941627 N" Level="2">
  <Info>
    <Parent Key="a31c3425-f3a9-4849-82c3-226ec7ed95f9">Instagram</Parent>
    <Path>/Instagram/N</Path>
    <NodeName Default="40626517 677018732677899 6064643605805941627 N" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>146801</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/ab0pdb0f/40626517_677018732677899_6064643605805941627_n.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>640</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>640</Value>
    </umbracoWidth>
  </Properties>
</Image>