<?xml version="1.0" encoding="utf-8"?>
<Image Key="1371aed9-cece-40ad-bf12-01a4b8b0c00a" Alias="Graham Palser Orig" Level="2">
  <Info>
    <Parent Key="f0495c9e-a729-4f84-817d-b0f8e663ee72">People</Parent>
    <Path>/People/GrahamPalserOrig</Path>
    <NodeName Default="Graham Palser Orig" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>95035</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/zpuht2cv/graham-palser_orig.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>533</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>400</Value>
    </umbracoWidth>
  </Properties>
</Image>