<?xml version="1.0" encoding="utf-8"?>
<Image Key="162bc7fe-24ec-4ef1-8490-7a5903dbb52e" Alias="Tony Molesworth Orig" Level="2">
  <Info>
    <Parent Key="f0495c9e-a729-4f84-817d-b0f8e663ee72">People</Parent>
    <Path>/People/TonyMolesworthOrig</Path>
    <NodeName Default="Tony Molesworth Orig" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>98824</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/4jmcnqno/tony-molesworth_orig.jpg"
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>533</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>400</Value>
    </umbracoWidth>
  </Properties>
</Image>