<?xml version="1.0" encoding="utf-8"?>
<Image Key="177a725d-50e4-4aef-8c62-cd671870147f" Alias="Trevor B Cropped" Level="2">
  <Info>
    <Parent Key="f0495c9e-a729-4f84-817d-b0f8e663ee72">People</Parent>
    <Path>/People/TrevorBCropped</Path>
    <NodeName Default="Trevor B Cropped" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>385295</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>png</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/l2ifwhae/trevor-b-cropped.png","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>500</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>400</Value>
    </umbracoWidth>
  </Properties>
</Image>