<?xml version="1.0" encoding="utf-8"?>
<Image Key="22b663dc-7cc4-41db-819c-1d3bb75f6dc3" Alias="Steve Field Orig" Level="2">
  <Info>
    <Parent Key="f0495c9e-a729-4f84-817d-b0f8e663ee72">People</Parent>
    <Path>/People/SteveFieldOrig</Path>
    <NodeName Default="Steve Field Orig" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>82109</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/equjb2st/steve-field_orig.jpg"
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>533</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>400</Value>
    </umbracoWidth>
  </Properties>
</Image>