<?xml version="1.0" encoding="utf-8"?>
<Image Key="243be8c6-5cec-4090-b65b-dab459b74c41" Alias="Shardeloes10k084 Orig" Level="3">
  <Info>
    <Parent Key="56966939-e652-4744-a523-3da7cd9e14b0">Shardeloes 10k</Parent>
    <Path>/Races/Shardeloes10k/Shardeloes10k084Orig</Path>
    <NodeName Default="Shardeloes10k084 Orig" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>155346</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/zaxbdacl/shardeloes10k084_orig.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>533</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>800</Value>
    </umbracoWidth>
  </Properties>
</Image>