<?xml version="1.0" encoding="utf-8"?>
<Folder Key="26d369da-a574-4eb6-afc4-676e387c1629" Alias="20" Level="3">
  <Info>
    <Parent Key="7cb66701-0bea-4913-adb4-34b5ee9eaae9">July</Parent>
    <Path>/Articles/July/</Path>
    <NodeName Default="20" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Folder>