<?xml version="1.0" encoding="utf-8"?>
<Image Key="297e20a2-f0e6-4bb2-be63-075be0a5e4d1" Alias="Tony Watts 1 Orig" Level="2">
  <Info>
    <Parent Key="f0495c9e-a729-4f84-817d-b0f8e663ee72">People</Parent>
    <Path>/People/TonyWatts1Orig</Path>
    <NodeName Default="Tony Watts 1 Orig" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>94332</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/ar0mkmmc/tony-watts_1_orig.jpg"
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>533</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>400</Value>
    </umbracoWidth>
  </Properties>
</Image>