<?xml version="1.0" encoding="utf-8"?>
<Image Key="2badb872-05b0-4359-aae1-aff8b306cdcc" Alias="1478998 Orig" Level="3">
  <Info>
    <Parent Key="56966939-e652-4744-a523-3da7cd9e14b0">Shardeloes 10k</Parent>
    <Path>/Races/Shardeloes10k/Orig</Path>
    <NodeName Default="1478998 Orig" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>38462</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>gif</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/el5m22ka/_1478998_orig.gif","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>435</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>750</Value>
    </umbracoWidth>
  </Properties>
</Image>