<?xml version="1.0" encoding="utf-8"?>
<Image Key="2c5ccc6e-ef75-471a-b434-12fb84b03484" Alias="20190720Ydllagacton 1 Orig" Level="4">
  <Info>
    <Parent Key="26d369da-a574-4eb6-afc4-676e387c1629">20</Parent>
    <Path>/Articles/July//Ydllagacton1Orig</Path>
    <NodeName Default="20190720Ydllagacton 1 Orig" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>43731</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/0ouep0wt/20190720ydllagacton-1_orig.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>299</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>480</Value>
    </umbracoWidth>
  </Properties>
</Image>