<?xml version="1.0" encoding="utf-8"?>
<Image Key="2e8d0205-c059-4006-a00b-0974de75acd9" Alias="Herberts Hole1" Level="3">
  <Info>
    <Parent Key="9f26b16b-93c7-4d4b-8798-08e9334d3bc1">Herberts Hole</Parent>
    <Path>/Races/HerbertsHole/HerbertsHole1</Path>
    <NodeName Default="Herberts Hole1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>143893</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/iydibdxo/herberts-hole1.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>533</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>800</Value>
    </umbracoWidth>
  </Properties>
</Image>