<?xml version="1.0" encoding="utf-8"?>
<Folder Key="31cb1d51-98bd-4dde-8acb-fb89e5dc8ae8" Alias="6" Level="3">
  <Info>
    <Parent Key="7cb66701-0bea-4913-adb4-34b5ee9eaae9">July</Parent>
    <Path>/Articles/July/</Path>
    <NodeName Default="6" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Folder>