<?xml version="1.0" encoding="utf-8"?>
<Folder Key="33cd5678-4470-405f-8e3b-bb1fce755c22" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Folder>