<?xml version="1.0" encoding="utf-8"?>
<Image Key="3da1f5b4-bcfc-4fba-a568-96de081c14d5" Alias="Jtsponsors 1 Orig" Level="3">
  <Info>
    <Parent Key="e60ff8eb-b2b7-4948-9933-054e513134fe">Junior Tri</Parent>
    <Path>/Races/JuniorTri/Jtsponsors1Orig</Path>
    <NodeName Default="Jtsponsors 1 Orig" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>59642</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/ts3ptfg2/jtsponsors_1_orig.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>217</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1230</Value>
    </umbracoWidth>
  </Properties>
</Image>