<?xml version="1.0" encoding="utf-8"?>
<Image Key="4035fb0d-ce55-4e1e-9a1f-2c30e9f9689d" Alias="Pednor 1" Level="3">
  <Info>
    <Parent Key="b6e499e7-0837-474b-904f-a5854c7fc38c">Pednor 5</Parent>
    <Path>/Races/Pednor5/Pednor1</Path>
    <NodeName Default="Pednor 1" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>470255</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/aaod0yfo/pednor-1.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>1067</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1600</Value>
    </umbracoWidth>
  </Properties>
</Image>