<?xml version="1.0" encoding="utf-8"?>
<Image Key="46599ee0-fe00-4db8-a684-cb3e792df7a3" Alias="Shardeloes10k001 Orig" Level="3">
  <Info>
    <Parent Key="56966939-e652-4744-a523-3da7cd9e14b0">Shardeloes 10k</Parent>
    <Path>/Races/Shardeloes10k/Shardeloes10k001Orig</Path>
    <NodeName Default="Shardeloes10k001 Orig" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>94908</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/berdu0nl/shardeloes10k001_orig.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>533</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>800</Value>
    </umbracoWidth>
  </Properties>
</Image>