<?xml version="1.0" encoding="utf-8"?>
<Image Key="4f570d0e-0a0d-4ffc-8783-9b50e934aa4e" Alias="8139604 Orig" Level="3">
  <Info>
    <Parent Key="b6e499e7-0837-474b-904f-a5854c7fc38c">Pednor 5</Parent>
    <Path>/Races/Pednor5/Orig</Path>
    <NodeName Default="8139604 Orig" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>106583</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>gif</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/cmileuhi/8139604_orig.gif","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>800</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>740</Value>
    </umbracoWidth>
  </Properties>
</Image>