<?xml version="1.0" encoding="utf-8"?>
<Folder Key="5117fc62-2b64-4f54-bf79-e8f9d5434fcb" Alias="Banners" Level="2">
  <Info>
    <Parent Key="33cd5678-4470-405f-8e3b-bb1fce755c22">Home</Parent>
    <Path>/Home/Banners</Path>
    <NodeName Default="Banners" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Folder>