<?xml version="1.0" encoding="utf-8"?>
<Image Key="51938a8c-b785-4819-a6a4-4550502d9118" Alias="27573538 151027892276071 5720157785501466624 N" Level="2">
  <Info>
    <Parent Key="a31c3425-f3a9-4849-82c3-226ec7ed95f9">Instagram</Parent>
    <Path>/Instagram/N</Path>
    <NodeName Default="27573538 151027892276071 5720157785501466624 N" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>129440</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/nkfecrb4/27573538_151027892276071_5720157785501466624_n.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>768</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>768</Value>
    </umbracoWidth>
  </Properties>
</Image>