<?xml version="1.0" encoding="utf-8"?>
<Image Key="5294cb5d-ffb2-4080-b04f-fde06b72094f" Alias="44611479 2106964799614760 9139001377883337812 N" Level="2">
  <Info>
    <Parent Key="a31c3425-f3a9-4849-82c3-226ec7ed95f9">Instagram</Parent>
    <Path>/Instagram/N</Path>
    <NodeName Default="44611479 2106964799614760 9139001377883337812 N" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>135085</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/walhtust/44611479_2106964799614760_9139001377883337812_n.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>654</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>971</Value>
    </umbracoWidth>
  </Properties>
</Image>