<?xml version="1.0" encoding="utf-8"?>
<Image Key="5823aaee-8522-4151-914e-407567d3baa7" Alias="Lennons Logo" Level="3">
  <Info>
    <Parent Key="56966939-e652-4744-a523-3da7cd9e14b0">Shardeloes 10k</Parent>
    <Path>/Races/Shardeloes10k/LennonsLogo</Path>
    <NodeName Default="Lennons Logo" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>2814</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/gtdlv4mr/lennons-logo.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>76</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>172</Value>
    </umbracoWidth>
  </Properties>
</Image>