<?xml version="1.0" encoding="utf-8"?>
<Image Key="5bcf9dc6-8883-464e-9d1c-31ad0a87d58d" Alias="Matt And Rash Orig" Level="4">
  <Info>
    <Parent Key="31cb1d51-98bd-4dde-8acb-fb89e5dc8ae8">6</Parent>
    <Path>/Articles/July//MattAndRashOrig</Path>
    <NodeName Default="Matt And Rash Orig" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>111550</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/zsyfi1ji/matt-and-rash_orig.jpg"
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>800</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1067</Value>
    </umbracoWidth>
  </Properties>
</Image>