<?xml version="1.0" encoding="utf-8"?>
<Image Key="5ec95887-0c40-4de7-b25f-b2b93bc0e2f7" Alias="Martyn Cartwight Orig" Level="2">
  <Info>
    <Parent Key="f0495c9e-a729-4f84-817d-b0f8e663ee72">People</Parent>
    <Path>/People/MartynCartwightOrig</Path>
    <NodeName Default="Martyn Cartwight Orig" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>103703</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/lptnhb5w/martyn-cartwight_orig.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>533</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>400</Value>
    </umbracoWidth>
  </Properties>
</Image>