<?xml version="1.0" encoding="utf-8"?>
<File Key="608ad40f-17c6-46ac-9638-db870349e5df" Alias="Club Constitution" Level="2">
  <Info>
    <Parent Key="faad065c-9513-4998-b81b-a141c1d68977">Membership</Parent>
    <Path>/Membership/ClubConstitution</Path>
    <NodeName Default="Club Constitution" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>155584</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>pdf</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>/media/llzh5had/club_constitution.pdf</Value>
    </umbracoFile>
  </Properties>
</File>