<?xml version="1.0" encoding="utf-8"?>
<Image Key="6d89e032-735d-4110-b957-480efe71f275" Alias="50270433 537607506756666 7655975873655439102 N" Level="2">
  <Info>
    <Parent Key="a31c3425-f3a9-4849-82c3-226ec7ed95f9">Instagram</Parent>
    <Path>/Instagram/N</Path>
    <NodeName Default="50270433 537607506756666 7655975873655439102 N" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>137089</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/nkydfevx/50270433_537607506756666_7655975873655439102_n.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>616</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>671</Value>
    </umbracoWidth>
  </Properties>
</Image>