<?xml version="1.0" encoding="utf-8"?>
<Folder Key="7cb66701-0bea-4913-adb4-34b5ee9eaae9" Alias="July" Level="2">
  <Info>
    <Parent Key="f0637dc4-88b2-4b3b-b5c6-643621c56e64">Articles</Parent>
    <Path>/Articles/July</Path>
    <NodeName Default="July" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Folder>