<?xml version="1.0" encoding="utf-8"?>
<Image Key="8ea4a56f-aba4-4a3b-8a32-4ea11fade84d" Alias="Lennons Logo" Level="3">
  <Info>
    <Parent Key="b6e499e7-0837-474b-904f-a5854c7fc38c">Pednor 5</Parent>
    <Path>/Races/Pednor5/LennonsLogo</Path>
    <NodeName Default="Lennons Logo" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>2814</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/t0zde4dk/lennons-logo.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>76</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>172</Value>
    </umbracoWidth>
  </Properties>
</Image>