<?xml version="1.0" encoding="utf-8"?>
<File Key="a95d6fac-b632-4fc0-b73b-246c4bd98bea" Alias="Pednor 5 Entry Form 2019" Level="4">
  <Info>
    <Parent Key="f4283bf3-9b44-412a-b6e8-f078732e8f9f">2019</Parent>
    <Path>/Races/Pednor5//Pednor5EntryForm2019</Path>
    <NodeName Default="Pednor 5 Entry Form 2019" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>300781</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>pdf</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>/media/cilnaduo/pednor_5_entry_form_2019.pdf</Value>
    </umbracoFile>
  </Properties>
</File>