<?xml version="1.0" encoding="utf-8"?>
<Image Key="ad4646cb-861a-4674-88a7-efa936692ff7" Alias="Herbertshole" Level="3">
  <Info>
    <Parent Key="9f26b16b-93c7-4d4b-8798-08e9334d3bc1">Herberts Hole</Parent>
    <Path>/Races/HerbertsHole/Herbertshole</Path>
    <NodeName Default="Herbertshole" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>167594</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1psjro1c/36515512_615497552166409_8728365004312543232_o.jpg"
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>683</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1024</Value>
    </umbracoWidth>
  </Properties>
</Image>