<?xml version="1.0" encoding="utf-8"?>
<Image Key="b6427ad1-3f59-4757-93b7-ebf285c64c2e" Alias="Shardeloes10k002 Orig" Level="3">
  <Info>
    <Parent Key="56966939-e652-4744-a523-3da7cd9e14b0">Shardeloes 10k</Parent>
    <Path>/Races/Shardeloes10k/Shardeloes10k002Orig</Path>
    <NodeName Default="Shardeloes10k002 Orig" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>123708</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/krugxzqo/shardeloes10k002_orig.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>533</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>800</Value>
    </umbracoWidth>
  </Properties>
</Image>