<?xml version="1.0" encoding="utf-8"?>
<Image Key="bbc7af62-ca7e-4d3b-9082-98eb45e32bd1" Alias="37360886 2148037672141355 3259719159340072960 N" Level="2">
  <Info>
    <Parent Key="a31c3425-f3a9-4849-82c3-226ec7ed95f9">Instagram</Parent>
    <Path>/Instagram/N</Path>
    <NodeName Default="37360886 2148037672141355 3259719159340072960 N" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>135178</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/cwgp5sum/37360886_2148037672141355_3259719159340072960_n.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>1080</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1080</Value>
    </umbracoWidth>
  </Properties>
</Image>