<?xml version="1.0" encoding="utf-8"?>
<Image Key="bf7000f0-b5bf-4258-abed-36af5c0d8d90" Alias="44531720 2294087274146083 4896490052748435813 N" Level="2">
  <Info>
    <Parent Key="a31c3425-f3a9-4849-82c3-226ec7ed95f9">Instagram</Parent>
    <Path>/Instagram/N</Path>
    <NodeName Default="44531720 2294087274146083 4896490052748435813 N" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>126796</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/ziqpbrqb/44531720_2294087274146083_4896490052748435813_n.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>748</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1073</Value>
    </umbracoWidth>
  </Properties>
</Image>