<?xml version="1.0" encoding="utf-8"?>
<Image Key="c1a3bec8-e3e8-486a-a8d5-2633b4cb254b" Alias="Shardeloes10k059 Orig" Level="3">
  <Info>
    <Parent Key="56966939-e652-4744-a523-3da7cd9e14b0">Shardeloes 10k</Parent>
    <Path>/Races/Shardeloes10k/Shardeloes10k059Orig</Path>
    <NodeName Default="Shardeloes10k059 Orig" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>127860</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/54pnawgn/shardeloes10k059_orig.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>533</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>800</Value>
    </umbracoWidth>
  </Properties>
</Image>