<?xml version="1.0" encoding="utf-8"?>
<Image Key="c40ceb97-4d3a-4899-bebc-43995ef39b8f" Alias="49753221 1502977059835714 5821298615412368248 N" Level="2">
  <Info>
    <Parent Key="a31c3425-f3a9-4849-82c3-226ec7ed95f9">Instagram</Parent>
    <Path>/Instagram/N</Path>
    <NodeName Default="49753221 1502977059835714 5821298615412368248 N" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>115263</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/wq1oi43l/49753221_1502977059835714_5821298615412368248_n.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>615</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>768</Value>
    </umbracoWidth>
  </Properties>
</Image>