<?xml version="1.0" encoding="utf-8"?>
<Image Key="d01ce896-4176-46bc-ba19-6a1f58b671bd" Alias="9207246" Level="3">
  <Info>
    <Parent Key="9f26b16b-93c7-4d4b-8798-08e9334d3bc1">Herberts Hole</Parent>
    <Path>/Races/HerbertsHole/</Path>
    <NodeName Default="9207246" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>8357</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/m02f15mp/9207246.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>88</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>143</Value>
    </umbracoWidth>
  </Properties>
</Image>