<?xml version="1.0" encoding="utf-8"?>
<Image Key="d45d4dfc-dc48-48da-b8fb-87ee473ee357" Alias="Robson Logo" Level="3">
  <Info>
    <Parent Key="56966939-e652-4744-a523-3da7cd9e14b0">Shardeloes 10k</Parent>
    <Path>/Races/Shardeloes10k/RobsonLogo</Path>
    <NodeName Default="Robson Logo" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>2896</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/ha3g22uo/robson-logo.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>57</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>172</Value>
    </umbracoWidth>
  </Properties>
</Image>