<?xml version="1.0" encoding="utf-8"?>
<Image Key="e56d5850-2b72-40db-bd59-6bfd2ac4da74" Alias="Trevor Davies Orig" Level="2">
  <Info>
    <Parent Key="f0495c9e-a729-4f84-817d-b0f8e663ee72">People</Parent>
    <Path>/People/TrevorDaviesOrig</Path>
    <NodeName Default="Trevor Davies Orig" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>97701</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/c20jjjxp/trevor-davies_orig.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>533</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>400</Value>
    </umbracoWidth>
  </Properties>
</Image>