<?xml version="1.0" encoding="utf-8"?>
<Folder Key="f0495c9e-a729-4f84-817d-b0f8e663ee72" Alias="People" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/People</Path>
    <NodeName Default="People" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Folder>