<?xml version="1.0" encoding="utf-8"?>
<Folder Key="f0637dc4-88b2-4b3b-b5c6-643621c56e64" Alias="Articles" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Articles</Path>
    <NodeName Default="Articles" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Folder>