<?xml version="1.0" encoding="utf-8"?>
<Image Key="f9403b5e-497a-4cdf-923b-0162bbfa1169" Alias="Pednor5 2019 003 Orig" Level="3">
  <Info>
    <Parent Key="5117fc62-2b64-4f54-bf79-e8f9d5434fcb">Banners</Parent>
    <Path>/Home/Banners/Pednor52019003Orig</Path>
    <NodeName Default="Pednor5 2019 003 Orig" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>102480</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/qbaj2abz/pednor5-2019-003_orig.jpg"
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>533</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>800</Value>
    </umbracoWidth>
  </Properties>
</Image>