<?xml version="1.0" encoding="utf-8"?>
<Image Key="fa4164d1-acdd-445a-abab-8b562b11b6e1" Alias="Hh" Level="3">
  <Info>
    <Parent Key="9f26b16b-93c7-4d4b-8798-08e9334d3bc1">Herberts Hole</Parent>
    <Path>/Races/HerbertsHole/Hh</Path>
    <NodeName Default="Hh" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>78299</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/vvzo04al/hh.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>264</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>500</Value>
    </umbracoWidth>
  </Properties>
</Image>