<?xml version="1.0" encoding="utf-8"?>
<File Key="ec8eb104-296c-4406-8f58-0df94e9f0642" Alias="Membership Form" Level="2">
  <Info>
    <Parent Key="faad065c-9513-4998-b81b-a141c1d68977">Membership</Parent>
    <Path>/Membership/MembershipForm</Path>
    <NodeName Default="Membership Form" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>296691</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>pdf</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>/media/zffp53dc/membership_form.pdf</Value>
    </umbracoFile>
  </Properties>
</File>