<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="07aaa7de-bd0a-4553-a390-fd7f4b948a17" Alias="linksListSection" Level="3">
  <Info>
    <Name>Links List</Name>
    <Icon>icon-link color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Sections</Folder>
    <Compositions>
      <Composition Key="07a2b232-986f-42f5-9469-4ac7bdc8c645">columnSettingsComposition</Composition>
      <Composition Key="3b2562d5-9ec4-465b-ba66-8b414efbf961">colourSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>326c1c2f-961d-4c73-b522-5e0db14eb460</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>c16aef3c-5dc2-4853-8fe9-21a0399bae45</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>