<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0b51383d-cdfe-4f67-b5f9-b7534ae66bc5" Alias="mapSection" Level="3">
  <Info>
    <Name>Map</Name>
    <Icon>icon-map-location color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Sections</Folder>
    <Compositions>
      <Composition Key="3b2562d5-9ec4-465b-ba66-8b414efbf961">colourSettingsComposition</Composition>
      <Composition Key="90f4d0c7-32e4-46e6-aa08-5d2694b1b3e8">mapComponent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>