<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="20fdc725-a128-4ec0-a918-df45a3399083" Alias="bannerSection" Level="3">
  <Info>
    <Name>Banner</Name>
    <Icon>icon-picture color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Sections</Folder>
    <Compositions>
      <Composition Key="2d3b103b-dc5e-4050-956d-0eb8dbc8c63a">fontAwesomeComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1f25bf04-659f-40f3-8dbf-72f8e8c10758</Key>
      <Name>Background</Name>
      <Alias>background</Alias>
      <Definition>a319f6eb-0527-41e2-b04a-0999bc539a35</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8f5a7524-6319-4999-8e2b-9d1439968683</Key>
      <Name>Background Colour</Name>
      <Alias>backgroundColour</Alias>
      <Definition>18028c27-7ded-4d46-93ef-33c615d78419</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d728da5c-9a78-48a0-98bc-8530245bdcea</Key>
      <Name>Primary Link</Name>
      <Alias>primaryLink</Alias>
      <Definition>e18c8065-b9c4-4731-902c-a16625b3c856</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>986def60-7301-4c2a-ba64-84acab72f279</Key>
      <Name>Secondary Link</Name>
      <Alias>secondaryLink</Alias>
      <Definition>e18c8065-b9c4-4731-902c-a16625b3c856</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fe8b59cb-5a2c-4dbf-8cb0-82b30afa2be9</Key>
      <Name>Secondary Link Before Text</Name>
      <Alias>secondaryLinkBeforeText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>16bdb1d6-b296-4d4f-9c88-7cdb5f8e68d5</Key>
      <Name>Subtitle</Name>
      <Alias>subtitle</Alias>
      <Definition>5a51ac30-0c75-411f-a507-063f0c8d2913</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5b3a783a-3eeb-4357-a60a-5ed6d81e5c58</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>