<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2d3b103b-dc5e-4050-956d-0eb8dbc8c63a" Alias="fontAwesomeComposition" Level="3">
  <Info>
    <Name>Font Awesome Composition</Name>
    <Icon>icon-plugin color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>485f7f8c-4297-40f2-bae3-38d89a09ec22</Key>
      <Name>Font Awesome Link</Name>
      <Alias>fontAwesomeLink</Alias>
      <Definition>ed8e6f81-7948-401c-ac82-770319088753</Definition>
      <Type>FaLinksPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>44091fb7-8f74-41a4-9450-c581b26ef39c</Key>
      <Name>Font Awesome Size</Name>
      <Alias>fontAwesomeSize</Alias>
      <Definition>d959793c-d3fa-4f6e-82ba-a7971f3c91ac</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>