<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="32300880-b4fc-4514-8eea-7e8dda8dd3ce" Alias="linksListComposition" Level="3">
  <Info>
    <Name>Links List Composition</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Compositions</Folder>
    <Compositions>
      <Composition Key="ef2b317a-265e-4037-90ab-aaaaee35de47">titleContent</Composition>
      <Composition Key="fe61d566-1c77-4cc9-a00a-a99fc156633b">faLinksComponent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>