<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="37868193-e5d7-4d04-b852-8a2ce5e136ba" Alias="raceResultsPage" Level="3">
  <Info>
    <Name>Race Results Page</Name>
    <Icon>icon-presentation color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Items</Folder>
    <Compositions>
      <Composition Key="46cfbb51-4824-4a21-87b6-c4c8db5ad965">navigationBase</Composition>
      <Composition Key="99dfecae-bab1-428c-a250-7c3ebc76a267">pageContents</Composition>
    </Compositions>
    <DefaultTemplate>RaceResultsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b0a1d3d9-9014-4913-bd9e-d45c159c4045">RaceResultsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d6f0dbc5-cf62-4343-95f3-fd24bf7a22d0</Key>
      <Name>External Results Link</Name>
      <Alias>externalResultsLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>https?://[a-zA-Z0-9-.]+.[a-zA-Z]{2,}</Validation>
      <Description><![CDATA[A link to the results if they are hosted externally]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Race Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5947d0f4-ce9b-4e87-aa59-c0aedcd8daa3</Key>
      <Name>Image Gallery</Name>
      <Alias>imageGallery</Alias>
      <Definition>4ad2199e-32c6-4c83-ade5-b0188f930f0f</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A gallery of images for the race]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Image Gallery</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>13ed913d-1628-49cb-96aa-77ce05f5e889</Key>
      <Name>Race Date</Name>
      <Alias>raceDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The date the race took place]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Race Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>257217f5-73f2-4f0f-b276-6a23afea044e</Key>
      <Name>Results Document</Name>
      <Alias>resultsDocument</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The results for the race]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Race Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Race Details</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Image Gallery</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>