<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3b2562d5-9ec4-465b-ba66-8b414efbf961" Alias="colourSettingsComposition" Level="3">
  <Info>
    <Name>Colour Settings Composition</Name>
    <Icon>icon-plugin color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>182f368e-e42f-40f5-960d-93a536e5dda1</Key>
      <Name>Background Colour</Name>
      <Alias>backgroundColour</Alias>
      <Definition>18028c27-7ded-4d46-93ef-33c615d78419</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>