<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="59cd4449-21a7-4a80-9bb2-eec9443643d3" Alias="iconsList" Level="3">
  <Info>
    <Name>Icons List</Name>
    <Icon>icon-thumbnail-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Sections</Folder>
    <Compositions>
      <Composition Key="07a2b232-986f-42f5-9469-4ac7bdc8c645">columnSettingsComposition</Composition>
      <Composition Key="3b2562d5-9ec4-465b-ba66-8b414efbf961">colourSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3cfc538e-6a7e-45b3-aeac-74b98e88d1c8</Key>
      <Name>Icons</Name>
      <Alias>icons</Alias>
      <Definition>a7b1432b-aaa9-47b2-8169-2eaa43e8f794</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>