<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5cc5ede5-9d50-4cff-b4df-0f34484b0366" Alias="listingsPageBase" Level="3">
  <Info>
    <Name>Listings Page Base</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Composition</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3612e3d1-1f73-4013-b7ab-1e1a603c6dc6</Key>
      <Name>Background Colour</Name>
      <Alias>backgroundColour</Alias>
      <Definition>18028c27-7ded-4d46-93ef-33c615d78419</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Listing Content &amp; Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e9a58f3d-24c6-4419-9323-acf73f294414</Key>
      <Name>Items Per Row</Name>
      <Alias>itemsPerRow</Alias>
      <Definition>0313f42a-fb41-4118-a330-d3780baacb09</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Listing Content &amp; Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Listing Content &amp; Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>