<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="605f9098-448e-4b73-84c8-5cf2ac462e7e" Alias="raceDetails" Level="3">
  <Info>
    <Name>Race Details</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Items</Folder>
    <Compositions />
    <DefaultTemplate>RaceDetails</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7d81e93d-a5a9-4dc9-a503-dcaf3b0a9b07">RaceDetails</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>