<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="605f9098-448e-4b73-84c8-5cf2ac462e7e" Alias="raceDetails" Level="3">
  <Info>
    <Name>Race Details</Name>
    <Icon>icon-activity color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Items</Folder>
    <Compositions>
      <Composition Key="46cfbb51-4824-4a21-87b6-c4c8db5ad965">navigationBase</Composition>
      <Composition Key="f95467c6-1d49-4292-8d27-93f3a7ddf073">contentSection</Composition>
    </Compositions>
    <DefaultTemplate>RaceDetails</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7d81e93d-a5a9-4dc9-a503-dcaf3b0a9b07">RaceDetails</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3cb8cf4f-5f79-4a89-85e5-fd1ef60abb4c</Key>
      <Name>Blurb</Name>
      <Alias>blurb</Alias>
      <Definition>5a51ac30-0c75-411f-a507-063f0c8d2913</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ec855196-b12f-47e7-a68d-ccd94cf90671</Key>
      <Name>Race Date</Name>
      <Alias>raceDate</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7f3e55bd-a195-4bcd-8f8a-8796cd117612</Key>
      <Name>Race Picture</Name>
      <Alias>racePicture</Alias>
      <Definition>a319f6eb-0527-41e2-b04a-0999bc539a35</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>