<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="67560bc1-0974-4f8b-a587-f75e5fb35714" Alias="racePage" Level="2">
  <Info>
    <Name>Race Page</Name>
    <Icon>icon-timer color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="99dfecae-bab1-428c-a250-7c3ebc76a267">pageContents</Composition>
      <Composition Key="c513d91a-17f0-49bf-84b8-1c0b34e5e26f">childPage</Composition>
      <Composition Key="cd6f0c3f-3ecd-4793-ba5e-8d0b1fe3b7db">pageDetails</Composition>
    </Compositions>
    <DefaultTemplate>RacePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5a9fcb47-6826-424b-b48f-5254484e35be">RacePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="37868193-e5d7-4d04-b852-8a2ce5e136ba">raceResultsPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>bc52b869-9dec-451f-a647-544d7c68d221</Key>
      <Name>Race Date</Name>
      <Alias>raceDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The next planned date for the race]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Race Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Race Details</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>