<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6dc01187-afee-4638-a98d-80e64a5d3482" Alias="contentBeforeAndAfter" Level="3">
  <Info>
    <Name>Content Before and After</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Composition</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>19087b39-ed87-4c9f-933f-9fe13719d161</Key>
      <Name>Post Listing Content</Name>
      <Alias>postListingContent</Alias>
      <Definition>68f7e86c-9ca8-4ead-8a83-16c51f99102b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content Below</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ab8fd1db-a43b-4fdb-93fb-f9fd9097ea1e</Key>
      <Name>Pre Listing Content</Name>
      <Alias>preListingContent</Alias>
      <Definition>68f7e86c-9ca8-4ead-8a83-16c51f99102b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content Above</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content Above</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Content Below</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>