<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="70a51dbc-733f-43a7-94f3-317714ee3a03" Alias="bannerStripSection" Level="3">
  <Info>
    <Name>Banner Strip</Name>
    <Icon>icon-frame-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Sections</Folder>
    <Compositions>
      <Composition Key="3b2562d5-9ec4-465b-ba66-8b414efbf961">colourSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>105a481b-5e56-432e-90e8-cb1045341eb7</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>5a51ac30-0c75-411f-a507-063f0c8d2913</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4f739339-1ba6-4ce2-9cbe-f6c6834e3475</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>e18c8065-b9c4-4731-902c-a16625b3c856</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f51b733f-00d4-428b-8850-77981befa2b8</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>