<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="741734d0-f9a6-41b7-a815-db5a5868b176" Alias="gridSection" Level="3">
  <Info>
    <Name>Grid Section</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Sections</Folder>
    <Compositions>
      <Composition Key="99dfecae-bab1-428c-a250-7c3ebc76a267">pageContents</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>