<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7fa7957b-f75a-4ca3-b63f-cec47c006eb9" Alias="raceListPage" Level="2">
  <Info>
    <Name>Race List Page</Name>
    <Icon>icon-loading color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="99dfecae-bab1-428c-a250-7c3ebc76a267">pageContents</Composition>
      <Composition Key="c513d91a-17f0-49bf-84b8-1c0b34e5e26f">childPage</Composition>
      <Composition Key="cd6f0c3f-3ecd-4793-ba5e-8d0b1fe3b7db">pageDetails</Composition>
    </Compositions>
    <DefaultTemplate>RaceListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3c6439bc-e551-4105-9066-6632dca59c06">RaceListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="67560bc1-0974-4f8b-a587-f75e5fb35714">racePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>