<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="80ec6d25-67f8-4307-ab55-88fad0f6e616" Alias="contentPage" Level="3">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Items</Folder>
    <Compositions>
      <Composition Key="46cfbb51-4824-4a21-87b6-c4c8db5ad965">navigationBase</Composition>
      <Composition Key="7ad07078-6fbe-45cc-b29c-e02ab5e6dadc">headerSection</Composition>
      <Composition Key="7d634f3c-def8-4e38-8483-e094c4b8b984">contentBase</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b46ea228-c9ee-4f9a-8558-dc99e4822350">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="80ec6d25-67f8-4307-ab55-88fad0f6e616">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>