<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8e5313c5-9d51-4cac-b1dd-1568f998cf1c" Alias="raceListSection" Level="3">
  <Info>
    <Name>Race List</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Sections</Folder>
    <Compositions>
      <Composition Key="07a2b232-986f-42f5-9469-4ac7bdc8c645">columnSettingsComposition</Composition>
      <Composition Key="3b2562d5-9ec4-465b-ba66-8b414efbf961">colourSettingsComposition</Composition>
      <Composition Key="42562694-c8f4-4d7c-a748-6b88d5b6806a">linkComponent</Composition>
      <Composition Key="ef2b317a-265e-4037-90ab-aaaaee35de47">titleComponent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a8dc4fb7-de26-42ef-b7d4-aea9039bf3d1</Key>
      <Name>Races</Name>
      <Alias>races</Alias>
      <Definition>d374669a-a129-4a52-bbda-986f741f429b</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>