<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="90f4d0c7-32e4-46e6-aa08-5d2694b1b3e8" Alias="mapComponent" Level="3">
  <Info>
    <Name>Map Component</Name>
    <Icon>icon-map-location color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b195f046-60a5-4a25-a167-338ca2f0d89f</Key>
      <Name>Embeded Link</Name>
      <Alias>embededLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Map</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>082c93a0-9b6e-41ce-ae0e-36d87a0f572b</Key>
      <Name>Map Alignment</Name>
      <Alias>mapAlignment</Alias>
      <Definition>27412eec-0b4c-4bb7-9bc8-19c78e9c239a</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Map</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>93307b48-688a-4867-a957-402f85c2c110</Key>
      <Name>Map Content</Name>
      <Alias>mapContent</Alias>
      <Definition>a58ec489-c4aa-4c50-8591-dac6cf2bf9f7</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Map</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Map</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>