<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="92d82b6b-6051-453f-b93a-698c5d9ec51b" Alias="articleListSection" Level="3">
  <Info>
    <Name>Article List Section</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Sections</Folder>
    <Compositions>
      <Composition Key="07a2b232-986f-42f5-9469-4ac7bdc8c645">columnSettingsComposition</Composition>
      <Composition Key="3b2562d5-9ec4-465b-ba66-8b414efbf961">colourSettingsComposition</Composition>
      <Composition Key="42562694-c8f4-4d7c-a748-6b88d5b6806a">linkComponent</Composition>
      <Composition Key="ef2b317a-265e-4037-90ab-aaaaee35de47">titleContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>eba6d0fb-557d-4a61-ad8b-3ff0e34bd687</Key>
      <Name>Article</Name>
      <Alias>article</Alias>
      <Definition>ae342abc-832a-4549-9a52-c2deda35f581</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c674ab8b-09d3-4749-a6db-52c4b6298364</Key>
      <Name>Items to Show</Name>
      <Alias>itemsToShow</Alias>
      <Definition>edc0babd-5471-4d59-b31d-6692b1af97a3</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>