<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9639fbbd-32b9-4bba-b25a-c68641da2f91" Alias="imageSection" Level="3">
  <Info>
    <Name>Image</Name>
    <Icon>icon-picture color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Nested/Sections</Folder>
    <Compositions>
      <Composition Key="3b2562d5-9ec4-465b-ba66-8b414efbf961">colourSettingsComposition</Composition>
      <Composition Key="c4c2bff2-f8f2-4bb3-8081-7ad523c52978">imageComposition</Composition>
      <Composition Key="ef2b317a-265e-4037-90ab-aaaaee35de47">titleContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>