<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="99dfecae-bab1-428c-a250-7c3ebc76a267" Alias="pageContents" Level="3">
  <Info>
    <Name>Page Contents</Name>
    <Icon>icon-command color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Pages/Composition</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d0690b80-1534-40a4-a8da-78f2f2f7ed5c</Key>
      <Name>Grid Contents</Name>
      <Alias>gridContents</Alias>
      <Definition>7ba83d5a-c0f1-49f3-b756-71c727d57c58</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The contents to render for this page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Page Contents</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Page Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>