<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a0547067-d09e-440f-8404-a3fc73d74cdc" Alias="singleLine" Level="3">
  <Info>
    <Name>Single Line</Name>
    <Icon>icon-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Sections</Folder>
    <Compositions>
      <Composition Key="3b2562d5-9ec4-465b-ba66-8b414efbf961">colourSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b9e2bac9-da6a-42f4-a036-a4e8dc7bd1d0</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>5a51ac30-0c75-411f-a507-063f0c8d2913</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>