<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a122c2d8-7f87-4f0d-a5cc-f55fef2ee2e4" Alias="socialMedia" Level="2">
  <Info>
    <Name>Social Media</Name>
    <Icon>icon-sound color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Composition</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>00797b5d-1e04-4eea-8822-cb3b6392710b</Key>
      <Name>Icon Class Name</Name>
      <Alias>iconClassName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The class name to use for the social media icon]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social Media Link</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ea0abd45-9e59-4420-9ff3-d48b7381490f</Key>
      <Name>SiteUrl</Name>
      <Alias>siteUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>https?://[a-zA-Z0-9-.]+.[a-zA-Z]{2,}</Validation>
      <Description><![CDATA[The URL to launch when the icon is clicked]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Social Media Link</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>86f044a6-8a46-4e1c-8f28-c21f593121b1</Key>
      <Name>Social Media Name</Name>
      <Alias>socialMediaName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the social media element]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Social Media Link</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Social Media Link</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>