<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a6f083bf-e742-4ff7-a2f4-ecaa0abe72c8" Alias="websiteConfiguration" Level="3">
  <Info>
    <Name>Website Configuration</Name>
    <Icon>icon-settings color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Sections/Configuration</Folder>
    <Compositions>
      <Composition Key="f89c3832-f20c-42e6-9963-6fc28a89fc17">footerSection</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>53b7179e-8451-448f-a8a5-b2f15188ab8b</Key>
      <Name>Brand Logo</Name>
      <Alias>brandLogo</Alias>
      <Definition>ed8e6f81-7948-401c-ac82-770319088753</Definition>
      <Type>FaLinksPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Main Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5f1b7d76-fa33-4fc1-8c77-f2a50f2f49c5</Key>
      <Name>Right Nav</Name>
      <Alias>rightNav</Alias>
      <Definition>ed8e6f81-7948-401c-ac82-770319088753</Definition>
      <Type>FaLinksPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Main Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main Navigation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>