<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad4bb4a5-57e4-433b-9240-54a13fc5fc52" Alias="iconComposition" Level="3">
  <Info>
    <Name>Icon Composition</Name>
    <Icon>icon-colorpicker color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Compositions</Folder>
    <Compositions>
      <Composition Key="42562694-c8f4-4d7c-a748-6b88d5b6806a">linkComponent</Composition>
      <Composition Key="e25b81e0-25a2-400b-9745-2c489a9836af">iconComponent</Composition>
      <Composition Key="ef2b317a-265e-4037-90ab-aaaaee35de47">titleContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>