<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b82d1142-e684-42e4-997c-4e6ad97bcb21" Alias="home" Level="3">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Items</Folder>
    <Compositions>
      <Composition Key="cd6f0c3f-3ecd-4793-ba5e-8d0b1fe3b7db">pageDetails</Composition>
      <Composition Key="f95467c6-1d49-4292-8d27-93f3a7ddf073">contentSection</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d7f698f1-ccfe-4541-b6e9-d2b6b06a0169">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a6f083bf-e742-4ff7-a2f4-ecaa0abe72c8">websiteConfiguration</ContentType>
    <ContentType Key="ce1ccc82-b873-4e69-a387-9fd568eed788">articleList</ContentType>
    <ContentType Key="61af12a1-1a28-4aeb-a018-c67ec0934d1c">people</ContentType>
    <ContentType Key="80ec6d25-67f8-4307-ab55-88fad0f6e616">contentPage</ContentType>
    <ContentType Key="cf2c47b1-5fe8-442d-94d9-8f75e0a2b4bd">ourRaces</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>