<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c4c2bff2-f8f2-4bb3-8081-7ad523c52978" Alias="imageComposition" Level="3">
  <Info>
    <Name>Image Composition</Name>
    <Icon>icon-picture color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>83063ba6-42ea-498e-9a6a-7300e31e6456</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>a319f6eb-0527-41e2-b04a-0999bc539a35</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>df4610fd-7033-4d12-aaee-ac65e04cf122</Key>
      <Name>Image Alignment</Name>
      <Alias>imageAlignment</Alias>
      <Definition>27412eec-0b4c-4bb7-9bc8-19c78e9c239a</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7ddeedfd-d61a-4d52-888b-8ef6bd5beeda</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>f8713f9e-b792-46b0-ae64-034fa2c31ef5</Definition>
      <Type>FaLinksPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>