<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ce1ccc82-b873-4e69-a387-9fd568eed788" Alias="articleList" Level="3">
  <Info>
    <Name>Article List</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Listings</Folder>
    <Compositions>
      <Composition Key="46cfbb51-4824-4a21-87b6-c4c8db5ad965">navigationBase</Composition>
      <Composition Key="5cc5ede5-9d50-4cff-b4df-0f34484b0366">listingsPageBase</Composition>
      <Composition Key="6dc01187-afee-4638-a98d-80e64a5d3482">contentBeforeAndAfter</Composition>
      <Composition Key="7ad07078-6fbe-45cc-b29c-e02ab5e6dadc">headerSection</Composition>
    </Compositions>
    <DefaultTemplate>ArticleList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cdba4955-38fd-4b26-b6bc-28d057af82ed">ArticleList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0c67e2e7-5f74-46ae-b67c-1e0a8255c5f0">article</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>