<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf2c47b1-5fe8-442d-94d9-8f75e0a2b4bd" Alias="ourRaces" Level="3">
  <Info>
    <Name>Our Races</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Listings</Folder>
    <Compositions>
      <Composition Key="46cfbb51-4824-4a21-87b6-c4c8db5ad965">navigationBase</Composition>
      <Composition Key="7d634f3c-def8-4e38-8483-e094c4b8b984">contentBase</Composition>
    </Compositions>
    <DefaultTemplate>OurRaces</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="19970f99-90e4-4632-b2ab-a8b1e26b6982">OurRaces</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="605f9098-448e-4b73-84c8-5cf2ac462e7e">raceDetails</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>