<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e1b97209-80ef-44ef-84a5-af67b76f64f8" Alias="personListSection" Level="3">
  <Info>
    <Name>Person List Section</Name>
    <Icon>icon-people-alt-2 color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested/Sections</Folder>
    <Compositions>
      <Composition Key="07a2b232-986f-42f5-9469-4ac7bdc8c645">columnSettingsComposition</Composition>
      <Composition Key="3b2562d5-9ec4-465b-ba66-8b414efbf961">colourSettingsComposition</Composition>
      <Composition Key="42562694-c8f4-4d7c-a748-6b88d5b6806a">linkComponent</Composition>
      <Composition Key="ef2b317a-265e-4037-90ab-aaaaee35de47">titleContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4dabb984-1ef5-443e-aa3c-28c2ad7789c1</Key>
      <Name>People</Name>
      <Alias>people</Alias>
      <Definition>a50b4871-4dd9-47e7-894d-173ca3d0b9cf</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>