<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f89c3832-f20c-42e6-9963-6fc28a89fc17" Alias="footerSection" Level="3">
  <Info>
    <Name>Footer Section</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Composition</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dc8a2e2e-1825-4c61-b5a5-cd5d58ab1750</Key>
      <Name>Nested Footer</Name>
      <Alias>nestedFooter</Alias>
      <Definition>6efe330e-d01b-4924-862c-ac6a9c5a28c4</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>