<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8bdae275-e972-4476-94bc-2aebb92baa88" Alias="genericPage" Level="1">
  <Info>
    <Name>Generic Page</Name>
    <Icon>icon-umb-translation color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="46cfbb51-4824-4a21-87b6-c4c8db5ad965">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>GenericPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07a34764-812c-45fb-890f-ed60a45ea100">GenericPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>803b3692-5f57-4ccc-a7bf-5cda59b80f80</Key>
      <Name>PageContent</Name>
      <Alias>pageContent</Alias>
      <Definition>7ba83d5a-c0f1-49f3-b756-71c727d57c58</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main page content]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>