<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b82d1142-e684-42e4-997c-4e6ad97bcb21" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="46cfbb51-4824-4a21-87b6-c4c8db5ad965">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d7f698f1-ccfe-4541-b6e9-d2b6b06a0169">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5514c468-1424-480b-ab8f-d49eafcb37f2</Key>
      <Name>content</Name>
      <Alias>content</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>