<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="46cfbb51-4824-4a21-87b6-c4c8db5ad965" Alias="navigationBase" Level="2">
  <Info>
    <Name>Navigation Base</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Composition</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b7f7e253-48bb-4e3d-a9cc-e07a3321442a</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A brief description of the content on your page. This text is shown below the title in a google search result and also used for social sharing cards. The ideal length is between 130 and 155 characters]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Navigation and SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>57ce7dcf-9f67-4a3f-8eb3-02235cc98bf6</Key>
      <Name>Hide in Navigation</Name>
      <Alias>hideInNavigation</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you don't want this page to appear in the navigation, check this checkbox]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Navigation and SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>443cf86c-8780-47c6-bf0f-f19878a25619</Key>
      <Name>Keywords</Name>
      <Alias>keywords</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Keywords that describe the content on the page. This is considered optional since most modern search engines don't use this anymore]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Navigation and SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cfaec4bc-6fcd-486a-956e-73c721b2bcfd</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigation and SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation and SEO</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>