/* ==========================================================================
Navbar
========================================================================== */
.navbar-dropdown {
    z-index:999999;
    .navbar-item {
        color: $text !important;
    }
}

#navbarMenu {
    &.is-active {
        background-color: $dark-grey;
        color: $white !important;

        .navbar-item {
            background-color: $dark-grey;
            color: $white !important;
        }
    }
}

.navbar-brand {
    margin-right: 0;
}
.navbar.is-dark {
    .navbar-item {
        color: $white;
        &:hover {
            color: $text;
        }       
    }
    .navbar-menu.is-active {
        .navbar-item {
            color: $text;
        }
    }
}
#navbarMenu, .navbar {
    position: static;
}
#navbar-home {
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 8px 0px;
    position: absolute;
    width: 100%;
    z-index: 10000;

    .navbar-item, .navbar-burger {
        color: $white;
        opacity: 0.8;

        &:hover {
            background: inherit;
            opacity: 1;
        }
    }

    #navbarMenu.is-active {
        .navbar-item {
            color: inherit;
        }
    }
}

// Cloned fixed navbar
#navbar-clone {
    position: fixed;
    opacity: .97;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    z-index: 1000;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);

    &.is-active {
        transform: translateY(0);
    }
}
