<div class="uk-section ch-footer uk-padding-medium">
    <div class="uk-flex-center uk-text-center" uk-grid>
        <a href="" uk-totop></a>
    </div>
    <div class="uk-container">

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <h4>Connect</h4>
                @{ Html.RenderAction("SocialLinksPartial", "SiteLayout", new { includeNames = true }); }
            </div>
        </div>

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <h4>Links</h4>
            
            </div>
        </div>

    </div>
</div>