<header class="">
    <div class="hw-header container">
        <img src="~/Content/images/chiltern_full.svg" class="hw-logo" />
        <h2>Chiltern Harriers</h2>
    </div>
    @{Html.RenderAction("RenderTopNavigation", "SiteLayout");}
</header>