@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>
@using Umbraco.Web.PublishedModels
@using System.Linq
@using Newtonsoft.Json

@{
    // Serialize the banner images to an array of URL's that can be used in a script to switch out the background image
    // on a timer
    string bannerUrlsJson = JsonConvert.SerializeObject(Model.BannerImages.Select(b => b.Url).ToArray());
    string initialBannerUrl = Model.BannerImages.First().Url;

    // Define the classes to be added to the top level nav bar
    var headerClasses = new string[] {
        "ch-nav-bar",
        "uk-section-primary",
        "ch-navbar-secondary",
        "uk-preserve-color",
        "uk-background-blend-soft-light",
        "uk-background-cover",
        "uk-background-center-center",
        "uk-height-extra-large"
    };

    string headerClass = headerClasses.Aggregate((a, b) => $"{a} {b}");
}

<div id="main-nav-container" class="@headerClass" style="background-image: url(@(initialBannerUrl))">
    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
        <div class="uk-navbar-container">
            <div class="uk-container uk-container-expand">
                <div uk-navbar>
                    <div class="uk-navbar-left">
                        <a uk-navbar-toggle
                           class="uk-hidden@m uk-navbar-toggle-icon uk-icon uk-margin-small-left"
                           href=""
                           uk-icon="icon: menu"
                           uk-toggle="target: #offcanvas-slide"></a>

                        <a class="uk-navbar-item uk-logo ch-logo" href="#">
                            <img src="Content/images/logo.svg" class="uk-visible@s uk-margin-small-right" width="50" height="50" />
                        </a>

                        <a class="uk-navbar-item uk-logo ch-logo-inverse" href="#">
                            <img src="Content/images/logo-inverse.svg" class="uk-visible@s uk-margin-small-right" width="50" height="50" />
                        </a>

                        <span ch-navbar-brand">Chiltern Harriers <span class="uk-hidden@s">A.C.</span></span>

                    </div>
                    <div class="uk-navbar-right uk-margin-small-right">
                        @{Html.RenderAction("SocialLinksPartial", "SiteLayout");}
                    </div>
                </div>
                <div class="uk-visible@m">
                    @{Html.RenderAction("TopNavigation", "SiteLayout");}
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section uk-light uk-panel uk-container uk-text-center" style="padding-bottom:60px">
        @Html.Raw(Model.WelcomeMessage)
    </div>
</div>

<div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;" hidden=""></div>

<div id="offcanvas-slide" uk-offcanvas="overlay: true; mode: slide">
    <div class="uk-offcanvas-bar uk-light">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        @{Html.RenderAction("SidebarNavigation", "SiteLayout");}
    </div>
</div>

<script>
    // Switches out the bckground image on a timer
    var images = @Html.Raw(bannerUrlsJson);
    var index = -1;
    var mainNavContainer = document.querySelector('#main-nav-container');
    setInterval(function () {
        index++;
        if (index >= images.length) {
            index = 0;
        }
        mainNavContainer.style.backgroundImage = 'url(' + images[index] + ')';
    }, 5000);
</script>