@using System.Linq
@using System

@{
    // Pick a random image to show as the banner on the home page
    // 1. Get the banners collection from the home page model
    var banners = Model.BannerImages;
    
    // 2. Based on the number of images in the collection, pick a random index
    var bannerIndex = new Random((int)DateTime.Now.Ticks).Next(0, banners.Count);
    
    // 3. Set the banner to use based on the random index
    var banner = banners[bannerIndex];
    
    // Define the classes to be added to the top level nav bar
    var headerClasses = new string[] {
        "ch-nav-bar",
        "uk-section-primary",
        "uk-preserve-color",
        "uk-background-blend-soft-light",
        "uk-background-cover",
        "uk-background-center-center",
        "uk-height-extra-large"
    };
    
    var headerClass = headerClasses.Aggregate((a, b) => $"{a} {b}");
}

<div class="@headerClass" style="background-image: url(@(banner.Url))">
    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
        <div class="uk-navbar-container">
            <div class="uk-container uk-container-expand">
                <div uk-navbar>
                    <div class="uk-navbar-left">
                        <a uk-navbar-toggle
                           class="uk-hidden@m uk-navbar-toggle-icon uk-icon uk-margin-small-left"
                           href=""
                           uk-icon="icon: menu"
                           uk-toggle="target: #offcanvas-slide"></a>

                        <a class="uk-navbar-item uk-logo ch-logo" href="#">
                            <img src="Content/images/logo.svg" class="uk-visible@s uk-margin-small-right" width="50" height="50" />
                        </a>

                        <a class="uk-navbar-item uk-logo ch-logo-inverse" href="#">
                            <img src="Content/images/logo-inverse.svg" class="uk-visible@s uk-margin-small-right" width="50" height="50" />
                        </a>

                        <span class="uk-visible@s ch-navbar-brand">Chiltern Harriers</span>
                        <span class="uk-visible@m ch-navbar-brand">Chiltern Harriers A.C.</span>

                    </div>
                    <div class="uk-navbar-right uk-margin-small-right">
                        <ul class="uk-iconnav h-social-icons">
                            <li>
                                <a title="twitter" href="https://twitter.com/ChilternHarrier" uk-icon="icon: twitter"></a>
                            </li>
                            <li>
                                <a title="instagram" href="https://www.instagram.com/chilternharriers/" uk-icon="icon: instagram"></a>
                            </li>
                            <li>
                                <a title="facebook" href="https://www.facebook.com/groups/ChilternHarriersAC/" uk-icon="icon: facebook"></a>
                            </li>
                            <li>
                                <a title="strava" href="https://www.strava.com/clubs/123015" uk-icon="icon: strava"></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="uk-visible@m">
                    @{Html.RenderAction("TopNavigation", "SiteLayout");}
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section uk-light uk-panel uk-container uk-text-center" style="padding-bottom:60px">
        @Html.Raw(Model.WelcomeMessage)
    </div>
</div>

<div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;" hidden=""></div>

<div id="offcanvas-slide" uk-offcanvas="overlay: true; mode: slide">
    <div class="uk-offcanvas-bar uk-light">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        @{Html.RenderAction("SidebarNavigation", "SiteLayout");}
    </div>
</div>
