@import "../colours";

header {
    .hw-header {
        display:flex;
        height: 120px;
        align-items: center;

        img.hw-logo {
            max-height: 120px;
            color: green;
        }
    }
    .navbar-dark .nav-link {
        color: #fff;
    }
}