<?xml version="1.0" encoding="utf-8"?>
<racePage Key="03e23eb1-9535-4f15-922c-490e0cb8a931" Alias="Pednor 5" Level="3">
  <Info>
    <Parent Key="159f1dfb-838f-4530-a57b-d8201e0b7baf">Our Races</Parent>
    <Path>/Home/OurRaces/Pednor5</Path>
    <NodeName Default="Pednor 5" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <gridContents>
      <Value>{
  "name": "Single Column",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "3 Columns Even",
          "areas": [
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "&lt;h2&gt;Pednor 5 Events&lt;/h2&gt;",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "d58ae263-342e-04de-7712-f556870929f3"
        }
      ]
    }
  ]
}</Value>
    </gridContents>
    <hideInNavigation>
      <Value>0</Value>
    </hideInNavigation>
    <pageDescription>
      <Value></Value>
    </pageDescription>
    <pageTitle>
      <Value>Pednor 5 : Chiltern Harriers</Value>
    </pageTitle>
    <raceDate>
      <Value>5/6/2019 12:00:00 AM</Value>
    </raceDate>
    <summaryText>
      <Value>Pednor 5</Value>
    </summaryText>
    <thumbnail>
      <Value>umb://media/b7d8d81e2c57469ab888877fd7a88ae2</Value>
    </thumbnail>
  </Properties>
</racePage>