<?xml version="1.0" encoding="utf-8"?>
<ourRaces Key="16e59f77-18d6-4ef8-9ef0-cee876778bc5" Alias="Our Races" Level="2">
  <Info>
    <Parent Key="729407af-666f-4fde-ada8-ed80e3f7b4ff">Home</Parent>
    <Path>/Home/OurRaces</Path>
    <NodeName Default="Our Races" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <description>
      <Value></Value>
    </description>
    <nestedContent>
      <Value></Value>
    </nestedContent>
  </Properties>
</ourRaces>