<?xml version="1.0" encoding="utf-8"?>
<person Key="2e8b84c8-dcd8-4ce0-a99f-64147cff448d" Alias="Trevor Davies" Level="3">
  <Info>
    <Parent Key="df5d0eeb-9810-4e13-a02a-d1bc99c6b16f">Club Contacts</Parent>
    <Path>/Home/ClubContacts/TrevorDavies</Path>
    <NodeName Default="Trevor Davies" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bio>
      <Value>&lt;p&gt;&lt;strong&gt;Chariman&lt;/strong&gt;&lt;span&gt;&lt;/span&gt;&lt;/p&gt;</Value>
    </bio>
    <description>
      <Value></Value>
    </description>
    <email>
      <Value></Value>
    </email>
    <photo>
      <Value>umb://media/e56d58502b7240dbbd596bfd2ac4da74</Value>
    </photo>
  </Properties>
</person>