<?xml version="1.0" encoding="utf-8"?>
<raceListPage Key="37be768d-30b1-4019-878d-d69b42c43879" Alias="Our Races" Level="2">
  <Info>
    <Parent Key="729407af-666f-4fde-ada8-ed80e3f7b4ff">Home</Parent>
    <Path>/Home/OurRaces</Path>
    <NodeName Default="Our Races" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
  </Info>
  <Properties />
</raceListPage>