<?xml version="1.0" encoding="utf-8"?>
<person Key="50abb84f-3693-41ac-9ba4-1b674b382b86" Alias="Mike Strive" Level="3">
  <Info>
    <Parent Key="df5d0eeb-9810-4e13-a02a-d1bc99c6b16f">Club Contacts</Parent>
    <Path>/Home/ClubContacts/MikeStrive</Path>
    <NodeName Default="Mike Strive" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bio>
      <Value>&lt;p&gt;Club Coach&lt;/p&gt;</Value>
    </bio>
    <description>
      <Value></Value>
    </description>
    <email>
      <Value></Value>
    </email>
    <photo>
      <Value>umb://media/00851d83a84e4c67a8b87c3442e2651e</Value>
    </photo>
  </Properties>
</person>