<?xml version="1.0" encoding="utf-8"?>
<person Key="609e5882-d252-4ce1-8855-23e6c39a10c1" Alias="Nick Hughes" Level="3">
  <Info>
    <Parent Key="df5d0eeb-9810-4e13-a02a-d1bc99c6b16f">Club Contacts</Parent>
    <Path>/Home/ClubContacts/NickHughes</Path>
    <NodeName Default="Nick Hughes" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bio>
      <Value>&lt;p&gt;&lt;strong&gt;Committee Member&lt;/strong&gt;&lt;span&gt;&lt;/span&gt;&lt;/p&gt;</Value>
    </bio>
    <description>
      <Value></Value>
    </description>
    <email>
      <Value></Value>
    </email>
    <photo>
      <Value>umb://media/f906b2f79faf48e9b48a028118445e9e</Value>
    </photo>
  </Properties>
</person>