<?xml version="1.0" encoding="utf-8"?>
<contentPage Key="6a683cdd-1268-4581-a9a3-5938173acb2b" Alias="England Athletics" Level="3">
  <Info>
    <Parent Key="f92b8121-4e1f-4f71-b3a3-c4732bf1c28c">About</Parent>
    <Path>/Home/About/EnglandAthletics</Path>
    <NodeName Default="England Athletics" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <description>
      <Value></Value>
    </description>
    <headerTitle>
      <Value>England Athletics</Value>
    </headerTitle>
    <nestedContent>
      <Value>[{"key":"02cf6466-68dd-4642-acae-5352e7889863","name":"Rich Text","ncContentTypeAlias":"richTextContent","text":"&lt;p&gt;This benefit includes discounts to races, the ability to compete fopr the club, access to exclusive offers, newsletters and eligibility to compete at a local and national level.&lt;/p&gt;"}]</Value>
    </nestedContent>
    <subtitle>
      <Value></Value>
    </subtitle>
    <title>
      <Value>England Athletics</Value>
    </title>
  </Properties>
</contentPage>