<?xml version="1.0" encoding="utf-8"?>
<person Key="7db7092b-0b5c-4ed3-883b-0734cf08f853" Alias="Martyn Cartwright" Level="3">
  <Info>
    <Parent Key="df5d0eeb-9810-4e13-a02a-d1bc99c6b16f">Club Contacts</Parent>
    <Path>/Home/ClubContacts/MartynCartwright</Path>
    <NodeName Default="Martyn Cartwright" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bio>
      <Value>&lt;p&gt;&lt;strong&gt;Young Athletes Coordinator&lt;/strong&gt;&lt;/p&gt;</Value>
    </bio>
    <description>
      <Value></Value>
    </description>
    <email>
      <Value></Value>
    </email>
    <photo>
      <Value>umb://media/5ec958870c404de7b25fb2b93bc0e2f7</Value>
    </photo>
    <title>
      <Value>Martyn Cartwright</Value>
    </title>
  </Properties>
</person>