<?xml version="1.0" encoding="utf-8"?>
<person Key="8d7c4bbd-19c6-4253-82c3-a5129ae6976b" Alias="Trevor Brawn" Level="3">
  <Info>
    <Parent Key="df5d0eeb-9810-4e13-a02a-d1bc99c6b16f">Club Contacts</Parent>
    <Path>/Home/ClubContacts/TrevorBrawn</Path>
    <NodeName Default="Trevor Brawn" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bio>
      <Value>&lt;p&gt;Club Coach&lt;/p&gt;</Value>
    </bio>
    <description>
      <Value></Value>
    </description>
    <email>
      <Value></Value>
    </email>
    <photo>
      <Value>umb://media/177a725d50e44aef8c62cd671870147f</Value>
    </photo>
  </Properties>
</person>