<?xml version="1.0" encoding="utf-8"?>
<websiteConfiguration Key="a40fc496-cd4e-4a1a-920c-f5a3875bc0ed" Alias="Website Configuration" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WebsiteConfiguration</Path>
    <NodeName Default="Website Configuration" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <footerLinks>
      <Value>[{"name":"Home","udi":"umb://document/729407af666f4fdeada8ed80e3f7b4ff"}]</Value>
    </footerLinks>
    <socialMediaLinks>
      <Value>[{"key":"ffd13d2a-a624-458e-ad95-697238fdbc60","name":"Twitter","ncContentTypeAlias":"socialMedia","iconClassName":"twitter","siteUrl":"https://twitter.com/ChilternHarrier","socialMediaName":"Twitter"},{"key":"4a28c1c8-211d-42b1-8c62-f77fa7ef1b1d","name":"Instagram","ncContentTypeAlias":"socialMedia","iconClassName":"instagram","siteUrl":"https://www.instagram.com/chilternharriers","socialMediaName":"Instagram"},{"key":"52e18659-39fc-4c74-9c82-31638a252bd2","name":"Facebook","ncContentTypeAlias":"socialMedia","iconClassName":"facebook","siteUrl":"https://www.facebook.com/groups/ChilternHarriersAC/","socialMediaName":"Facebook"},{"key":"324da4b3-76f2-4d43-ba38-99cdc298b1ef","name":"Strava","ncContentTypeAlias":"socialMedia","iconClassName":"strava","siteUrl":"https://www.strava.com/clubs/123015","socialMediaName":"Strava"}]</Value>
    </socialMediaLinks>
  </Properties>
</websiteConfiguration>