<?xml version="1.0" encoding="utf-8"?>
<person Key="acd81ff4-365c-468e-ad0a-d279f6024849" Alias="Tony Molesworth" Level="3">
  <Info>
    <Parent Key="df5d0eeb-9810-4e13-a02a-d1bc99c6b16f">Club Contacts</Parent>
    <Path>/Home/ClubContacts/TonyMolesworth</Path>
    <NodeName Default="Tony Molesworth" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bio>
      <Value>&lt;p&gt;&lt;strong&gt;Secretary&lt;/strong&gt;&lt;span&gt;&lt;/span&gt;&lt;/p&gt;</Value>
    </bio>
    <description>
      <Value></Value>
    </description>
    <email>
      <Value></Value>
    </email>
    <photo>
      <Value>umb://media/162bc7fe24ec4ef184907a5903dbb52e</Value>
    </photo>
    <title>
      <Value>Tony Molesworth</Value>
    </title>
  </Properties>
</person>