<?xml version="1.0" encoding="utf-8"?>
<person Key="bcc4b516-16ed-4800-84a7-d6de19a85178" Alias="Matt Robins" Level="3">
  <Info>
    <Parent Key="df5d0eeb-9810-4e13-a02a-d1bc99c6b16f">Club Contacts</Parent>
    <Path>/Home/ClubContacts/MattRobins</Path>
    <NodeName Default="Matt Robins" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bio>
      <Value>&lt;p&gt;&lt;strong&gt;Treasurer&lt;/strong&gt;&lt;/p&gt;</Value>
    </bio>
    <description>
      <Value></Value>
    </description>
    <email>
      <Value></Value>
    </email>
    <photo>
      <Value>umb://media/3ce592f736054f7bba05f888a8f292a6</Value>
    </photo>
    <title>
      <Value>Matt Robins</Value>
    </title>
  </Properties>
</person>