<?xml version="1.0" encoding="utf-8"?>
<person Key="cc9938a7-7882-4e89-8651-f73e19b35b7f" Alias="Graham Palser" Level="3">
  <Info>
    <Parent Key="df5d0eeb-9810-4e13-a02a-d1bc99c6b16f">Club Contacts</Parent>
    <Path>/Home/ClubContacts/GrahamPalser</Path>
    <NodeName Default="Graham Palser" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bio>
      <Value>&lt;p&gt;&lt;strong&gt;Data Protection Officer&lt;/strong&gt;&lt;/p&gt;</Value>
    </bio>
    <description>
      <Value></Value>
    </description>
    <email>
      <Value></Value>
    </email>
    <photo>
      <Value>umb://media/1371aed9cece40adbf1201a4b8b0c00a</Value>
    </photo>
  </Properties>
</person>