<?xml version="1.0" encoding="utf-8"?>
<people Key="df5d0eeb-9810-4e13-a02a-d1bc99c6b16f" Alias="Club Contacts" Level="2">
  <Info>
    <Parent Key="729407af-666f-4fde-ada8-ed80e3f7b4ff">Home</Parent>
    <Path>/Home/ClubContacts</Path>
    <NodeName Default="Club Contacts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <backgroundColour>
      <Value>{
  "value": "f5f5f5",
  "label": "Light",
  "sortOrder": 4,
  "id": "5"
}</Value>
    </backgroundColour>
    <description>
      <Value></Value>
    </description>
    <headerTitle>
      <Value>Club Contacts</Value>
    </headerTitle>
    <itemsPerRow>
      <Value>3</Value>
    </itemsPerRow>
    <postListingContent>
      <Value></Value>
    </postListingContent>
    <preListingContent>
      <Value></Value>
    </preListingContent>
    <subtitle>
      <Value></Value>
    </subtitle>
  </Properties>
</people>