<?xml version="1.0" encoding="utf-8"?>
<contentPage Key="f92b8121-4e1f-4f71-b3a3-c4732bf1c28c" Alias="About" Level="2">
  <Info>
    <Parent Key="729407af-666f-4fde-ada8-ed80e3f7b4ff">Home</Parent>
    <Path>/Home/About</Path>
    <NodeName Default="About" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <description>
      <Value></Value>
    </description>
    <headerTitle>
      <Value>About Chiltern Harriers A.C.</Value>
    </headerTitle>
    <nestedContent>
      <Value></Value>
    </nestedContent>
    <subtitle>
      <Value>&lt;p&gt;We are a friendly club, welcoming all members of the community.&lt;br /&gt;​We cater for a wide range of athletic abilities and aspirations. &lt;br /&gt;We have athletes who enjoy the competitive aspects of the sport and thrive on competition, and those who just want to run for pleasure and to keep fit&lt;/p&gt;</Value>
    </subtitle>
    <title>
      <Value>About Us</Value>
    </title>
  </Properties>
</contentPage>