<?xml version="1.0" encoding="utf-8"?>
<home Key="729407af-666f-4fde-ada8-ed80e3f7b4ff" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bannerImages>
      <Value>umb://media/a5b73975fde54bfc99b3ba47f90aba30,umb://media/f9403b5e497a4cdf923b0162bbfa1169,umb://media/031fba518b664d18b92be1eb41f2c7b9</Value>
    </bannerImages>
    <content>
      <Value>&lt;p&gt;We are a friendly club, welcoming all members of the community.&lt;/p&gt;
&lt;p&gt;​We cater for a wide range of athletic abilities and aspirations. We have athletes who enjoy the competitive aspects of the sport and thrive on competition, and those who just want to run for pleasure and to keep fit.&lt;/p&gt;
&lt;p&gt;The Club is based in the Chiltern District in south Buckinghamshire and has around 600 members.&lt;/p&gt;</Value>
    </content>
    <description>
      <Value>This is the main description of the page</Value>
    </description>
    <hideInNavigation>
      <Value>0</Value>
    </hideInNavigation>
    <keywords>
      <Value>["chiltern","harriers","running","ac","athletics"]</Value>
    </keywords>
    <title>
      <Value>Chiltern Harriers AC</Value>
    </title>
    <welcomeMessage>
      <Value>&lt;h1&gt;Chiltern Harriers Athletics Club&lt;/h1&gt;
&lt;p&gt;We are an active athletics club competing in Track &amp;amp; Field, Cross-Country and Road Running.&lt;/p&gt;</Value>
    </welcomeMessage>
  </Properties>
</home>