<?xml version="1.0" encoding="utf-8"?>
<home Key="729407af-666f-4fde-ada8-ed80e3f7b4ff" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <content>
      <Value>&lt;p&gt;&lt;span class="h1"&gt;Welcome to chiltern harriers&lt;/span&gt;&lt;/p&gt;
&lt;p&gt; &lt;/p&gt;
&lt;p&gt; &lt;/p&gt;</Value>
    </content>
    <description>
      <Value>This is the main description of the page</Value>
    </description>
    <hideInNavigation>
      <Value>0</Value>
    </hideInNavigation>
    <keywords>
      <Value>["chiltern","harriers","running","ac","athletics"]</Value>
    </keywords>
    <title>
      <Value>Chiltern Harriers AC</Value>
    </title>
  </Properties>
</home>