@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.GenericPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

@section Header {
    @Html.Partial("SiteLayout/_Header", Model)
}
<section class="uk-section">
    <div class="uk-container uk-containr-wide">
        @Html.GetGridHtml(Model, "gridContents")
    </div>
</section>