@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>

@{
    Layout = "layout.cshtml";

    var appSettings = Model.Root().Children<WebsiteConfiguration>().FirstOrDefault();
}

@Html.Partial("~/Views/Partials/Components/NavbarHome.cshtml", appSettings)

<main>
    @Html.Partial("~/Views/Partials/Renderers/RenderSections.cshtml", Model.NestedContent)
</main>

