@{
    Layout = "layout.cshtml";

    PublishedContentModel current = Model;   
    
    WebsiteConfiguration appSettings = current.Root().Children<WebsiteConfiguration>().FirstOrDefault();
}

@Html.Partial("~/Views/Partials/Components/Navbar.cshtml", appSettings)

<main>
    @RenderBody()
</main>
