@import "bootstrap4/_variables.scss";

$font-family-open-sans: "Open Sans Regular";
$font-family-sans-serif: $font-family-open-sans, Helvetica, Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base: $font-family-open-sans;
