@import "uikit/variables.scss";
@import "site-theme.scss";

.ch-navbar-secondary {
    // Use the brighter variant when there's no image overlay
    background-color: $chac-dark-green !important;
}

.ch-nav-bar {

    .uk-navbar-transparent.uk-light {
        .ch-logo {
            display: none;
        }

        .ch-logo-inverse {
            display: inherit;
        }
    }

    .ch-logo {
        color: #4fb74e;
        fill: #4fb74e;
    }

    .ch-logo-inverse {
        color: #fff;
        fill: #fff;
        display: none;
    }

    .uk-light, .uk-light .uk-iconnav > * > a, .uk-light .uk-navbar-nav > li > a {
        color: rgba(255, 255, 255, 0.9);
    }

    .uk-light {
        .ch-navbar-brand {
            color: $chac-white;
        }
    }

    .ch-navbar-brand {
        color: $chac-dark-green;
    }

    .uk-navbar-container.uk-navbar-sticky {
        box-shadow: 0px 1px 4px 1px rgba(34, 148, 20, 0.35);
    }
}
