@import "uikit/variables.scss";

.ch-nav-bar {
    .uk-navbar-container.uk-navbar-transparent.uk-light {
        /*.uk-logo :not(.ch-logo-inverse) {
            display: none;
        }*/
    }

    .uk-navbar-transparent.uk-light {
        .ch-logo {
            display: none;
            
        }

        .ch-logo-inverse {
            display:inherit;
        }
    }

    .ch-logo {
        color: #4fb74e;
        fill: #4fb74e;
    }

    .ch-logo-inverse {
        color: #fff;
        fill: #fff;
        display: none;
    }

    .uk-light, .uk-light .uk-iconnav > * > a, .uk-light .uk-navbar-nav > li > a {
        color: rgba(255, 255, 255, 0.9);
    }
}