@inherits Umbraco.Web.Mvc.UmbracoViewPage<RichTextContent>
@using Umbraco.Web.PublishedModels
@using Harriers.Web.Extensions

@SectionHelper.RenderContentSectionStart(isFullWidth: true, isCentered: true)
    <div class="container">
        <div class="column is-centered has-margin-auto has-spacing-bottom has-spacing-top">
            @if (Model.Text.HasValue())
            {
                @Model.Text
            }
        </div>
    </div>
@SectionHelper.RenderContentSectionEnd()
