@inherits Umbraco.Web.Mvc.UmbracoViewPage<TitleComponent>
@using Umbraco.Web.PublishedModels
@using Harriers.Web.Extensions

<section class="section">
    <div class="container">
        @if (Model.Title.HasValue())
        {
            <h2 class="title is-size-3 is-85-percent">@Model.Title</h2>
        }

        @if (Model.Subtitle.HasValue())
        {
            <div class="subtitle is-size-4 is-85-percent">@Model.Subtitle</div>
        }
    </div>
</section>
