<?xml version="1.0"?>
<ArrayOfSyncAction xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SyncAction>
    <Key>7fa61cf7-0c8e-45ae-a252-ff2d5697e1a6</Key>
    <Alias>Home (1)</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>b7703bbd-1855-4916-9401-297e190b71dc</Key>
    <Alias>About (1)</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>fd488118-c785-471a-8cb5-f7c0911d3945</Key>
    <Alias>Membership (1)</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>c57913b8-def6-46c2-a816-93af4e55c16c</Key>
    <Alias>Membership</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>1dd26036-a8e9-4a82-87d7-03044d64a6ce</Key>
    <Alias>About</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>159f1dfb-838f-4530-a57b-d8201e0b7baf</Key>
    <Alias>Our Races</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>03e23eb1-9535-4f15-922c-490e0cb8a931</Key>
    <Alias>Pednor 5</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>1733f203-3303-48fc-85a1-2adbf5850418</Key>
    <Alias>Out Events</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>37be768d-30b1-4019-878d-d69b42c43879</Key>
    <Alias>Our Races</Alias>
    <Action>Delete</Action>
  </SyncAction>
</ArrayOfSyncAction>