<?xml version="1.0"?>
<ArrayOfSyncAction xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SyncAction>
    <Key>6d2fd881-af55-4c3b-bfa0-4630afb60b4f</Key>
    <Alias>Race Page</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>15d023bc-6b19-417c-82db-954cb4e56dbf</Key>
    <Alias>Races</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>8bdae275-e972-4476-94bc-2aebb92baa88</Key>
    <Alias>Generic Page</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>fa758de5-c9ab-47b9-bb8e-e2e6abaaf8bd</Key>
    <Alias>Race Details</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>67560bc1-0974-4f8b-a587-f75e5fb35714</Key>
    <Alias>Race Page</Alias>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <Key>7fa7957b-f75a-4ca3-b63f-cec47c006eb9</Key>
    <Alias>Race List Page</Alias>
    <Action>Delete</Action>
  </SyncAction>
</ArrayOfSyncAction>