<?xml version="1.0" encoding="utf-8"?>
<DataType Key="18028c27-7ded-4d46-93ef-33c615d78419" Alias="CH - Colour Picker" Level="2">
  <Info>
    <Name>CH - Colour Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>6</SortOrder>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "UseLabel": true,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"42ee9c\",\"label\":\"Primary\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"42b7ee\",\"label\":\"Secondary\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"363636\",\"label\":\"Dark\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"ffffff\",\"label\":\"White\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"f5f5f5\",\"label\":\"Light\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"e8e8e8\",\"label\":\"Grey\"}"
    }
  ]
}]]></Config>
</DataType>