<?xml version="1.0" encoding="utf-8"?>
<DataType Key="27412eec-0b4c-4bb7-9bc8-19c78e9c239a" Alias="CH - Alignment Dropdown" Level="2">
  <Info>
    <Name>CH - Alignment Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Full width"
    },
    {
      "id": 2,
      "value": "Left"
    },
    {
      "id": 3,
      "value": "Right"
    }
  ]
}]]></Config>
</DataType>