<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ad2199e-32c6-4c83-ade5-b0188f930f0f" Alias="Race Results Page - Image Gallery - Media Picker" Level="1">
  <Info>
    <Name>Race Results Page - Image Gallery - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>34</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null
}]]></Config>
</DataType>