<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e739008-cca5-45e9-9fe9-bf98b1bba8ff" Alias="CH - Content Picker" Level="2">
  <Info>
    <Name>CH - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>8</SortOrder>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/729407af666f4fdeada8ed80e3f7b4ff"
}]]></Config>
</DataType>