<?xml version="1.0" encoding="utf-8"?>
<DataType Key="57fbf8cb-8ea1-4c57-bc44-898f6c1049a5" Alias="CH - Tags (JSON)" Level="2">
  <Info>
    <Name>CH - Tags (JSON)</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>Tags</Folder>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>