<?xml version="1.0" encoding="utf-8"?>
<DataType Key="594bd8ff-b68c-4c1f-b2bb-17eb7668785d" Alias="CH - Fa Icon (Single)" Level="2">
  <Info>
    <Name>CH - Fa Icon (Single)</Name>
    <EditorAlias>FaIconPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>Font+Awesome</Folder>
  </Info>
  <Config><![CDATA[{
  "minNumber": 0,
  "maxNumber": 1
}]]></Config>
</DataType>