<?xml version="1.0" encoding="utf-8"?>
<DataType Key="68f7e86c-9ca8-4ead-8a83-16c51f99102b" Alias="CH - Page - Nested Content" Level="2">
  <Info>
    <Name>CH - Page - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "articleListSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Latest Articles"
    },
    {
      "ncAlias": "callToActionSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Call to Action: {{title}}"
    },
    {
      "ncAlias": "bannerSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Banner"
    },
    {
      "ncAlias": "imageSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Image: {{title}}"
    },
    {
      "ncAlias": "linksListSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Links List"
    },
    {
      "ncAlias": "iconsListSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Icons List"
    },
    {
      "ncAlias": "raceListSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Race List"
    },
    {
      "ncAlias": "personListSection",
      "ncTabAlias": "Content",
      "nameTemplate": "People"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>