<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6efe330e-d01b-4924-862c-ac6a9c5a28c4" Alias="CH - Footer - Nested Content" Level="2">
  <Info>
    <Name>CH - Footer - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "bannerStrip",
      "ncTabAlias": "Content",
      "nameTemplate": "Banner Strip {{index}}"
    },
    {
      "ncAlias": "singleLine",
      "ncTabAlias": "Content",
      "nameTemplate": "Single Line {{index}}"
    },
    {
      "ncAlias": "linksList",
      "ncTabAlias": "Content",
      "nameTemplate": "Links {{index}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>