<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7ba83d5a-c0f1-49f3-b756-71c727d57c58" Alias="Grid layout" Level="2">
  <Info>
    <Name>Grid layout</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>Grid+Layout</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": {
    "styles": [
      {
        "label": "Set a background image",
        "description": "Set a row background",
        "key": "background-image",
        "view": "imagepicker",
        "modifier": "url({0})"
      }
    ],
    "config": [
      {
        "label": "Class",
        "description": "Set a css class",
        "key": "class",
        "view": "textstring"
      }
    ],
    "columns": 12,
    "templates": [
      {
        "name": "Single Column",
        "sections": [
          {
            "grid": 12,
            "allowAll": true
          }
        ]
      }
    ],
    "layouts": [
      {
        "name": "3 Columns Even",
        "areas": [
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          }
        ]
      },
      {
        "name": "2 Columns (8-4)",
        "areas": [
          {
            "grid": 8,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          }
        ]
      },
      {
        "name": "Single Column",
        "areas": [
          {
            "grid": 12,
            "allowAll": true
          }
        ]
      },
      {
        "name": "2 Columns (4-8)",
        "areas": [
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 8,
            "allowAll": true
          }
        ]
      },
      {
        "name": "2 Columns (6-6)",
        "areas": [
          {
            "grid": 6,
            "allowAll": true
          },
          {
            "grid": 6,
            "allowAll": true
          }
        ]
      },
      {
        "name": "2 Rows (12-6-6)",
        "areas": [
          {
            "grid": 12,
            "allowAll": true
          },
          {
            "grid": 6,
            "allowAll": true
          },
          {
            "grid": 6,
            "allowAll": true
          }
        ]
      },
      {
        "name": "4 Columns Even",
        "areas": [
          {
            "grid": 3,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          }
        ]
      }
    ]
  },
  "Rte": {
    "toolbar": [
      "ace",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styleselect",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "umbmediapicker",
      "umbmacro",
      "table",
      "umbembeddialog",
      "hr"
    ],
    "stylesheets": [
      "wysiwyg"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  }
}]]></Config>
</DataType>