<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98e57bb9-8820-4216-becd-3cd7b4b25089" Alias="CH - Content - Nested Content" Level="2">
  <Info>
    <Name>CH - Content - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "richTextContent",
      "ncTabAlias": "Content",
      "nameTemplate": "Rich Text {{index}}"
    },
    {
      "ncAlias": "imageSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Image {{index}}"
    },
    {
      "ncAlias": "titleComponent",
      "ncTabAlias": "Content",
      "nameTemplate": "Title {{index}}"
    },
    {
      "ncAlias": "callToActionSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Call to Action {{index}}"
    },
    {
      "ncAlias": "iconsListSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Icons List {{index}}"
    },
    {
      "ncAlias": "quoteContent",
      "ncTabAlias": "Content",
      "nameTemplate": "Quote {{index}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>