<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ddf3e70-5691-478a-88cf-65d5f9ecac1f" Alias="CH - Slider" Level="2">
  <Info>
    <Name>CH - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>Sliders</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0,
  "InitialValue2": 0,
  "MinimumValue": 0,
  "MaximumValue": 0,
  "StepIncrements": 0
}]]></Config>
</DataType>