<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ebf67e8-e4ec-457d-b2a1-6b847a9baa38" Alias="Race Details - Image - Media Picker" Level="1">
  <Info>
    <Name>Race Details - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>32</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": "umb://media/348d6995b75e4ab98151732093f90a1a"
}]]></Config>
</DataType>