<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a319f6eb-0527-41e2-b04a-0999bc539a35" Alias="CH - Media Picker (Single)" Level="2">
  <Info>
    <Name>CH - Media Picker (Single)</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>9</SortOrder>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null
}]]></Config>
</DataType>