<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a50b4871-4dd9-47e7-894d-173ca3d0b9cf" Alias="CH - Person Picker (Multiple)" Level="2">
  <Info>
    <Name>CH - Person Picker (Multiple)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>11</SortOrder>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "person",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false
}]]></Config>
</DataType>