<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7b1432b-aaa9-47b2-8169-2eaa43e8f794" Alias="CH - Icon List - Nested COntent" Level="2">
  <Info>
    <Name>CH - Icon List - Nested COntent</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "iconComposition",
      "ncTabAlias": "Content",
      "nameTemplate": "Icon: {{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>