<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa9a5457-42a4-4cd4-9232-e5f216c81ad7" Alias="CH - Fa Links (Button Dropdowns)" Level="2">
  <Info>
    <Name>CH - Fa Links (Button Dropdowns)</Name>
    <EditorAlias>FaLinksPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>Font+Awesome</Folder>
  </Info>
  <Config><![CDATA[{
  "primaryClassItems": [
    {
      "name": "Text",
      "value": "uk-text-emphasis"
    },
    {
      "name": "Primary",
      "value": "uk-text-primary has-text-weight-bold"
    },
    {
      "name": "Link",
      "value": "uk-link"
    },
    {
      "name": "Light",
      "value": "uk-text-muted"
    },
    {
      "name": "Dark",
      "value": "uk-text-secondary"
    }
  ],
  "secondaryClassItems": [
    {
      "name": "Small Button",
      "value": "uk-button-small uk-button"
    },
    {
      "name": "Normal Button",
      "value": "uk-button"
    },
    {
      "name": "Large Button",
      "value": "uk-button-large uk-button"
    }
  ]
}]]></Config>
</DataType>