<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ae342abc-832a-4549-9a52-c2deda35f581" Alias="CH - Article Picker (single)" Level="2">
  <Info>
    <Name>CH - Article Picker (single)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>10</SortOrder>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "article",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false
}]]></Config>
</DataType>