<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b1c2f2f6-989c-478f-ad93-0f8082e8feb8" Alias="Home - Nested Content" Level="1">
  <Info>
    <Name>Home - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>31</SortOrder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "raceDetails",
      "ncTabAlias": "Content",
      "nameTemplate": "{{eventName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>