<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c16aef3c-5dc2-4853-8fe9-21a0399bae45" Alias="CH - Links List - Nested Content" Level="2">
  <Info>
    <Name>CH - Links List - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "linksListComposition",
      "ncTabAlias": "Content",
      "nameTemplate": "Links {{index}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>