<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c497042e-8b11-403e-9ba3-86c87ab16d35" Alias="CH - Colour Scheme Dropdown" Level="2">
  <Info>
    <Name>CH - Colour Scheme Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "is-primary"
    },
    {
      "id": 2,
      "value": "is-light"
    },
    {
      "id": 3,
      "value": "is-dark"
    },
    {
      "id": 4,
      "value": "is-info"
    }
  ]
}]]></Config>
</DataType>