<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c9160431-ce9c-4234-9672-d41debc28953" Alias="Race Details - Description - Textarea" Level="1">
  <Info>
    <Name>Race Details - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>30</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 300,
  "Rows": null
}]]></Config>
</DataType>