<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d374669a-a129-4a52-bbda-986f741f429b" Alias="CH - Race Picker (Multiple)" Level="2">
  <Info>
    <Name>CH - Race Picker (Multiple)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>12</SortOrder>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "raceDetails",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false
}]]></Config>
</DataType>