<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e18c8065-b9c4-4731-902c-a16625b3c856" Alias="CH - Link (Single)" Level="2">
  <Info>
    <Name>CH - Link (Single)</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>7</SortOrder>
    <Folder>Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1
}]]></Config>
</DataType>