<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ed8e6f81-7948-401c-ac82-770319088753" Alias="CH - Fa Links (No Dropdowns)" Level="2">
  <Info>
    <Name>CH - Fa Links (No Dropdowns)</Name>
    <EditorAlias>FaLinksPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>Font+Awesome</Folder>
  </Info>
  <Config><![CDATA[{
  "primaryClassItems": [],
  "secondaryClassItems": []
}]]></Config>
</DataType>