<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8713f9e-b792-46b0-ae64-034fa2c31ef5" Alias="CH - Fa Link (Single)" Level="2">
  <Info>
    <Name>CH - Fa Link (Single)</Name>
    <EditorAlias>FaLinksPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>Font+Awesome</Folder>
  </Info>
  <Config><![CDATA[{
  "minNumber": 0,
  "maxNumber": 1,
  "primaryClassItems": [],
  "secondaryClassItems": []
}]]></Config>
</DataType>